<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="headFragment">
    <div>
        <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
        <h3 th:inline="text">Your Role: [[${#httpServletRequest.userPrincipal}]]</h3>

        <a th:href="@{/}">Главная</a>
        <a th:href="@{/login}">Войти</a>
        <a th:href="@{/news}">Новости</a>
        <a th:href="@{/admin}">Панель администратора</a>
        <a th:href="@{/registration}">Регистрация</a>
    </div>
</header>
</body>
</html>