<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <style>
        #login_form{
            position: absolute;
            top: 0;
            right: 0;
        }
        #cars{
            width: 50%;
            border-collapse: collapse;
        }
        td{
            padding: 3px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
    <div id="login_form">
        <form method="post" th:action="@{/}">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <h4>Войти на сайт</h4>
            <div>
                <input name="username" type="text" placeholder="Enter your Username">
                <input name="password" type="password" placeholder="Enter your Password">
                <button type="submit">Log In</button>
                <h4><a href="/registration">Зарегистрироваться</a></h4>
            </div>
        </form>
    </div>
<div>
    <h4>Подать объявление (owner/admin)</h4>
    <form method="post" th:action="@{/saveCar}" th:object="${saveCar}">
        <table>
            <td><input type="text" placeholder="enter model" th:field="*{model}"></td>
            <td><input type="text" placeholder="enter year" th:field="*{year}"></td>
            <td><input type="text" placeholder="enter owner" th:field="*{users}"></td>
            <td><input type="submit" value="save"></td>
        </table>
    </form>
</div>
<div>
    <h4>Мы подобрали лучшие объявления для Вас!</h4>
    <table id="cars">
        <tr>
            <td><b>model</b></td>
            <td><b>year</b></td>
            <td><b>owner</b></td>
        </tr>
        <tr th:each="car : ${carList}">
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYear()}"></td>
            <td th:text="${car.users.getUsername()}"></td>
        </tr>
    </table>
</div>
</body>
</html>